:root {
  --primary-color: darkturquoise;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #e1f5f0;
}
.main {
  background-color: white;
  border-radius: 2em;
  margin: 10vh 5vw ;
  height: 80%;
  display: flex; 
  gap: 20px;
  box-shadow: 0 0 5px rgb(25 25 25 / 25%);
  overflow: hidden;
  padding-bottom: 20px;
}
.left-block {
  width: 40vw;
  display: flex;
  flex-direction: column;
}
.center-block {
  width: 70vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-block {
  width: 40vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.btn {
  outline:none;
  border-radius: 2em;
  cursor: pointer;
  background-color: #fff;
  border: 1px var(--primary-color) solid;
  color:grey;
}
.btn:hover {
  border: 2px var(--primary-color) solid;
  color: grey;
}
.right-block h2 {
  margin: 0;
  font-size: 1.7em;
}
.search {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 0 10px;
}
.search__input {
  outline:none;
  border-radius: 2em;
  border: 1px solid;
  border-color:var(--primary-color);
  color: grey;
  font-size: 1em;
  height: 35px;
  padding-left: 10px;
}
.search__input::placeholder {
  color: grey;
}
.search__btn {
  margin-left: 19px;
  height: 35px;
  width: 45px;
}
.searchResultHolder {
  height: 73%;
  overflow-y: auto;
  margin: 10px;
}
.select-book {
  background-color: rgba(101, 147, 173, 0.3);
}
.book-info {
  border-bottom: 1px var(--primary-color) dashed;
  min-height: 6vh;
  display: flex;
  align-items: center;
}
.pagination {
  height: 55px;
}
.pagination-points {
  display: flex;
  justify-content: space-evenly;
  color: grey;
  margin-bottom: 10px;
}
.pagination-btns {
  display: none;
  justify-content: space-evenly;
}
.center-btn {
  height: 5vh;
  padding: 0 15px;
  font-size: 1.1em;
}
.title {
  color:var(--primary-color);
}
.list-title {
  border-bottom: 1px dashed;
  border-color:var(--primary-color);
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 10px 10px 0;
}
.list-title p {
  margin: 0;
  color: gray;
}
.read-list-holder {
  overflow-y: auto;
  margin: 0 10px 10px 0;
}
.read-list__item {
  border-bottom: 1px dashed;
  border-color:var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 7px 0;
}
.read-book-list__item {
  color: green;
  border-bottom: 1px dashed;
  border-color:var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 7px 0;
}
.read-list__item:last-child {
  border-bottom: none;
}
.subtitle {
  color: grey;
}
.read-list__management-links {
  margin: 5px 0;
}
.read-list__management-links button {
  height: 30px;
  padding: 0 10px;
}
.mark-as-read-btn:hover {
  color: #2eb04a;
  border-color: #2eb04a;
  border: 2px solid;
}
.remove-btn:hover {
  color: red;
  border-color: red;
}