body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* width: 100%; */
  background-color: #e1f5f0;
}
.main {
  background-color: white;
  border: 1px solid;
  margin: 10vh 5vw ;
  height: 80%;
  display: flex; 
  gap: 20px;
}
.left-block {
  flex: 0 1 300px;
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
}
.center-block {
  flex: 1 1 100%;
  text-align: center;
}
.right-block {
  flex: 0 1 400px;
  border-left: 1px solid;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.right-block h2 {
  margin-top: 0;
}
.search {
  background-color: #CBCBCB;
  border-bottom: 1px solid;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.search__input {
  outline:none;
}
.search__btn {
  margin-left: 19px;
  background-color: #3F50B5;
  color: #fff;
  outline:none;
  cursor: pointer;
}
#searchResultHolder {
  height: 73%;
  overflow-y: auto;
}
.select-book {
  background-color: cadetblue;
}
.pagination {
  height: 55px;
  background-color: #CBCBCB;
  border-top: 1px solid;
}
.list-title {
  background-color: #CBCBCB;
  /* height: 100px; */
  border-bottom: 1px solid;
  flex-grow: 1;
}
.list-title p {
  margin: 0;
}
.read-list-holder {
  /* height: 90%; */
  overflow-y: auto;
  flex-grow: 5;
}
.read-list__item {
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
}
.read-list__management-links button{
  color: blue;
  cursor: pointer;
}